body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gray);
    color: #fff;
}

:root {
    --gray: #575859;
}

#logo-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 60px; /* Adjust the margin between the logo and the button */
}

#game-container {
    position: relative;
    background-color: #000;
    width: 80%;
    max-width: 800px;
    height: 400px;
    overflow: hidden; /* Changed to hidden so that we control scrolling in #game-text */
    border: 4px solid #fff;
    padding: 10px;
    margin: 100px auto 0; /* Centered the game container vertically */
    margin-top: -100px;
}

#game-text {
    height: calc(100% - 40px); /* Adjusted height to accommodate the input field */
    overflow-y: auto;
    margin-bottom: 10px; /* Added margin to create space for the input field */
    max-height: 80vh; /* Set maximum height */
}
#command-line {
    width: calc(100% - 20px); /* Adjusted width to accommodate padding */
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #000;
    color: #fff;
    outline: none;
    position: absolute;
    bottom: 10px; /* Positioned at the bottom */
    left: 10px; /* Added left spacing */
}

