body {
    background-color: var(--gray);
    color: white;
    font-family: Arial, sans-serif;
}

:root {
    --gray: #575859;
}

.container {
    margin-top: 25px;
    text-align: center; /* Center the content horizontally */
}

.logo-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Adjust the margin between the logo and the button */
}
#authentication {
    text-align: center; /* Center the content horizontally */
    margin-top: 50px; /* Adjust the top margin as needed */
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed its container's width */
    height: auto; /* Allows the image's height to adjust accordingly */
    margin-bottom: -80px; /* Adjust the margin between the two images */
}
.logo-container2,
.login {
    text-align: center; /* Center the content horizontally */
    margin-top: 50px; /* Adjust the top margin as needed */
}


.submit {
        background-color: #511717; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
    }

    .submit:hover {
        background-color: #ff8080;
    }
    
    .submit::-moz-focus-inner,
    .submit::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    .submit:focus {
        outline: none;
    }
#login-form {
    margin-top: 100px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login-form button {
    margin-top: 10px;
}

