body {
    background-color: var(--gray);
    color: white;
    font-family: Arial, sans-serif;
}

:root {
    --gray: #575859;
}

.container {
    margin-top: 25px;
    text-align: center; /* Center the content horizontally */
}

.logo-container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Adjust the margin between the logo and the button */
}

img {
    margin-bottom: -80px; /* Adjust the margin between the two images */
}

button {
    padding: 15px 70px;
    font-size: 18px;
    background-color: #511717;
    color: gray;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#login-form {
    margin-top: 100px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#login-form button {
    margin-top: 10px;
}
